<div class='container'>
    <div class="row">
        <div class="col-md-12">
            <h4>ながのCAKEは全国発送可能なケーキ屋さんです。</h4><br>
            <h4>子供からお年寄りの方までお召し上がりいただけるよう、</h4><br>
            <h4>様々なバリエーションをご用意しております。</h4><br>
            <h4>なた、全国への発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</h4><br>
            <h4>ぜひご注文ください。</h4><br>
        </div>
    </div>
</div>